/*
	SMACSS structured CSS file
	1. Base rules
	2. Layout rules
	3. Module rulse
	4. State rules
	5. Theme rules
*/


/* 	 - - - - - - - - - - - - - - - 				 Base rules 			- - - - - - - - - - - - - - -  */

a {
	text-decoration: underline;
}

aside h1 {
	font-size: 1.6em;
}

aside h2 {
	font-size: 1.3em;
}

body {
	padding: 30px 3%;
	max-width: 1280px;
	margin: 0 auto;
}

blockquote, 
p {
	max-width: 40em;
}

/* Blockquote style from: https://codepen.io/iPawan/pen/emrPKP */

blockquote {
	display: block;
	background: #fff;
	border-left: 15px solid #aaa;
	margin: 0 0 20px;
	padding: 15px 20px 15px 50px;
	position: relative;
}

blockquote::before {
	content: "\201C"; 
	color: #999;
	font-family: Georgia, serif;
	font-size: 60px;
	font-weight: bold;
	position: absolute;
		left: 8px;
		top: -15px;
}

code {
	tab-size: 4;
}


/* 	 - - - - - - - - - - - - - - - 				Layout rules 			- - - - - - - - - - - - - - -  */

.l-grid-75-25 {
	display: grid;
	grid-column-gap: 5%;
	grid-template-columns: 3fr 1fr;
}

.l-grid-50-50 {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 60em) {
	.l-grid-75-25 {
		display: block;
	}
}

/* 	 - - - - - - - - - - - - - - - 				Module rules 			- - - - - - - - - - - - - - -  */

.facts {
	background-color: #eee;
	padding: 10px 15px;
}

.unstyled-list {
	list-style: none;
}

.filters {
	margin-bottom: 1em;
}

.wcag-principle {
	color: #fff;
	background-color: #444;
}

.wcag-principle a {
	color: #fff;
}

.wcag-principle a:hover {
	color: #9accff;
}

.wcag-guideline {
	background-color: #eee;
}

.wcag-principle td,
.wcag-guideline td {
	padding-bottom: 5px;
	padding-top: 5px;
}

.example {
	border: 5px solid #ccc;
	padding: 10px;
}

.example-wrong {
	border-color: #faa;
}

.example-right {
	border-color: #9e9;
}

/* 	 - - - - - - - - - - - - - - - 				State rules 			- - - - - - - - - - - - - - -  */



/* 	 - - - - - - - - - - - - - - - 				Theme rules 			- - - - - - - - - - - - - - -  */


